body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #5fefff 0%, #7bfeba 100%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background: rgba(139, 127, 188, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 160px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #FF7E5F;
    outline: none;
}

button {
    padding: 12px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #4cae4c;
    transform: translateY(-2px);
}

select {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

li:hover {
    background-color: rgba(255, 245, 220, 0.5);
}

li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

li button {
    background-color: #568ec3;
    transition: background-color 0.3s, transform 0.2s;
}

li button:hover {
    background-color: #c9302c;
    transform: translateY(-2px);
}
